// The font family
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$gothic: "メイリオ",Meiryo,"MS PGothic","MS Ｐゴシック","ヒラギノ角ゴ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro";
$georgia: Georgia, Cambria, "Times New Roman", Times, serif;
$monospace: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
$brawler: "Brawler", Helvetica, Arial, sans-serif;
$smallCap: "Delicious SmallCaps", Helvetica, Arial, sans-serif;

// Base the color
$primary-color: #222;
$secondary-color: #444;

// Link color
$link: #08c;
$link-hover: #004b80;


